{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Django Docker</title>
	  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icons/favicon.ico' %}" />
	<link rel="stylesheet" href="{% static 'djdcss/reset.css' %}">
	<link rel="stylesheet" href="{% static 'djdcss/main.css' %}">
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-12 background">
			<div class="painel">
				<div class="row">
					<div class="col-4">
						<a href="https://github.com/Ronnasayd/django-docker/archive/master.zip"><button class="btn btn-primary download-button"><i class="fas fa-download"></i> Download</button></a>
					</div>
				</div>
				<div class="row logo">
					<div class="col-12">
						<img class="logo-img" src="{% static 'images/django-docker.png' %}" alt="django docker logo">
					</div>
				</div>
				<div class="row title-description">
					<div class="col-12"><h1 class="title"><strong>Django-Docker</strong></h1></div>
					<div class="col-12"><h4 class="description"><strong>Make your Django full stack development simpler</strong></h4></div>
				</div>
				<div class="row slide">
					<div class="col-12">
						<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						  <div class="carousel-inner">
						    <div class="carousel-item active text-center">
						      <img class="carousel-img" src="{% static 'images/tecnologias/docker.png' %}" alt="First slide">
						    </div>
						    <div class="carousel-item text-center">
						      <img class="carousel-img" src="{% static 'images/tecnologias/django.png' %}" alt="Second slide">
						    </div>
						    <div class="carousel-item text-center">
						      <img class="carousel-img" src="{% static 'images/tecnologias/gulp.png' %}" alt="Third slide">
						    </div>
						    <div class="carousel-item text-center">
						      <img class="carousel-img" src="{% static 'images/tecnologias/browsersync.png' %}" alt="Third slide">
						    </div>
						     <div class="carousel-item text-center">
						      <img class="carousel-img" src="{% static 'images/tecnologias/docker-compose.png' %}" alt="Third slide">
						    </div>
						     <div class="carousel-item text-center">
						      <img class="carousel-img" src="{% static 'images/tecnologias/sass.svg' %}" alt="Third slide">
						    </div>
						    <div class="carousel-item text-center">
						      <img class="carousel-img" src="{% static 'images/tecnologias/gurnicon.png' %}" alt="Third slide">
						    </div>
						    <div class="carousel-item text-center">
						      <img class="carousel-img" src="{% static 'images/tecnologias/nginx.png' %}" alt="Third slide">
						    </div>
						  </div>
						  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
						    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
<script src="{% static 'djdminjs/main.min.js'%}"></script>
</body>
</html>