{% load static %}
<!-- Css begin -->
{% block css %}
  <link rel="stylesheet" href="{% static 'dist/css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/opensans.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/fonteawesome.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/main.css' %}">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icons/favicon.ico' %}" />
{% endblock css %}
<!-- Css end -->