{% load static %}
<!-- Css begin -->
{% block css %}
<link rel="stylesheet" href="{% static 'dist/css/reset.min.clean.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/opensans.min.clean.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/fonteawesome.min.clean.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/main.min.clean.css' %}">
<!-- Css end -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icons/favicon.ico' %}" />
{% endblock css %}