{% load static %}
<!-- Css begin -->
{% block css %}
<link rel="stylesheet" href="{% static 'dist/css/reset.min.css' %}">
<link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/roboto.min.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/material.min.css' %}">
<link rel="stylesheet" href="{% static 'libs/propeller/css/propeller.min.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/main.min.css' %}">
<!-- Css end -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icons/favicon.ico' %}" />
{% endblock css %}