.title, .description {
  text-align: center;
  color: white;
  word-wrap: break-word; }

body {
  font-family: 'Open Sans', sans-serif; }

.background {
  height: 100vh;
  background-image: url("./4.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-right: 0px;
  padding-left: 0px; }

.painel {
  width: 97vw;
  height: 95vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  background-color: rgba(0, 0, 0, 0.55); }

.logo-img {
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4%; }
  @media (max-width: 720px) {
    .logo-img {
      padding-top: 10%; } }
  @media (max-width: 720px) and (orientation: landscape) {
    .logo-img {
      padding-top: 0vh;
      max-width: 212.5px; } }

.title {
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 40px; }

.description {
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 32px;
  padding-top: 7.5px;
  padding-left: 5vw;
  padding-right: 5vw; }
  @media (max-width: 750px) {
    .description {
      font-size: 19.2px; } }

.tecnologias {
  font-weight: bold;
  font-size: 32px;
  padding-top: 5vh;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5); }
  @media (max-width: 720px) {
    .tecnologias {
      padding-top: 4vh;
      padding-right: 15vw;
      padding-left: 15vw;
      font-size: 22.4px; } }
  @media (max-width: 720px) and (orientation: landscape) {
    .tecnologias {
      display: none; } }

.carousel-img {
  max-height: 27vh; }

.slide {
  padding-top: 15px; }
  @media (max-width: 720px) {
    .slide {
      padding-top: 5px; } }

.download-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #039bc6;
  border-color: #039bc6;
  position: relative;
  top: 7px;
  left: 7px;
  font-weight: bold;
  -webkit-box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.3);
  box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3); }
  .download-button:hover {
    background-color: #0387ad;
    border-color: #0387ad; }
  .download-button:active {
    background-color: #0387ad !important;
    border-color: #0387ad !important; }
  .download-button:focus {
    -webkit-box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.3);
    box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.3); }

.carousel-item-element {
  color: white;
  font-weight: bold;
  font-size: 20.8px;
  height: 4vh;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5); }

@media (max-width: 750px) and (orientation: landscape) {
  .carousel-item-element {
    display: none; } }
