<!DOCTYPE html>
<html>
<head>
	<title>exemplo</title>
</head>
<body>
	<h1>Olá</h1>
	<p>Esse é seu nome:{{usuario.nome}}</p>
	<p>Essa é sua foto:</p><img src="media/{{usuario.foto}} " style="max-width: 100px;">

<h1>Outros usuários</h1>
<ul>
{% for u in usuarios%}
	<li>{{u.nome}}:<img src="media/{{u.foto}} " style="max-width: 50px;"></li>
{% endfor %}
</ul>
<!-- <object type="application/x-shockwave-flash" data="http://media.classicgames.me/Nesbox.swf" id="emulator" style="visibility: visible; width: 512px; height: 448px;" width="640" height="480"><param name="allowscriptaccess" value="always"><param name="allowFullScreen" value="true"><param name="allowFullScreenInteractive" value="true"><param name="flashvars" value="system=snes&amp;url=http://media.classicgames.me/snes/7888/super-mario-world.zip"></object> -->
</body>
</html>