@import 'vendor/variables';

.github-logo{
	opacity: 0;
	animation: animationopacity linear 1s forwards;
	animation-delay: 2s;
	width: 160px;
	position: relative;
	left: 100%;
	transform: translateX(-100%);
}

%align-color{
	text-align: center;
	color:$text-color;
	word-wrap: break-word;
}

body{
	font-family: 'Roboto', sans-serif;
	background: gray;
	letter-spacing: 0.5px;
}

@keyframes animationopacity{
	0%{
		opacity: 0;

	}
	100%{
		opacity: 1;
	}
}

.background{
	height: 100vh;
	background-image: url('../../images/backgrounds/6.jpg');
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
	padding-right: 0px;
	padding-left: 0px;
}
.painel{
	$painel-color:rgb(14, 10, 29);
	width: $painel-width;
	height: 0vh;
	margin-top: (100-$painel-height)/2;
	margin-bottom: (100-$painel-height)/2;
	margin-left: (100-$painel-width)/2;
	margin-right: (100-$painel-width)/2;
	// background-color: rgba($painel-color,0.6);
	animation: painelgrow 3s forwards;
	animation-delay: 1s;

	@keyframes painelgrow{
		0%{
			height: 0vh;
			background-color: rgba($painel-color,0.0);

		}
		100%{
			height: $painel-height;
			background-color: rgba($painel-color,0.6);
		}
	}
}
.logo-img{
	max-width: $logo-max-width;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 4%;
	opacity: 0;
	animation: animationopacity linear 1s forwards;
	animation-delay: 3s;
	
    @media(max-width: 720px){
    	padding-top: 10%;
    	@media (orientation:landscape){
  		padding-top: 0vh;
    		max-width: $logo-max-width*0.75;
    	}
    }
 
}
.title{
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	@extend %align-color;
	font-weight: bold;
	font-size: 2.5*16px;
	@media (max-width: 720px){
		font-size: 32px;
	}
	@media (orientation:landscape){
		font-size: 2*16px;
	}
	opacity: 0;
	animation: animationopacity linear 1s forwards;
	animation-delay: 3.5s;
}
.description{
	opacity: 0;
	animation: animationopacity linear 1s forwards;
	animation-delay: 4s;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	@extend %align-color;
	font-weight: bold;
	padding-top: 7.5px;
	padding-left: 5vw;
	padding-right: 5vw;
	font-size: 25px;
	@media (max-width: 720px){
		font-size: 18px;
	}


}
.tecnologias{
	opacity: 0;
	animation: animationopacity linear 1s forwards;
	animation-delay: 4.5s;
	font-weight: bold;
	padding-top: 2vh;
	color: rgb(190, 218, 223);
	text-shadow: 1.5px 1.5px 2px rgba(0,0,0,0.5);
	font-weight: 600;
	font-size: 22px;
	@media (max-width: 720px){
		padding-top: 2vh;
		padding-right: 15vw;
		padding-left: 15vw;
		font-size: 16px;

		@media (orientation:landscape){
			display : none;
			}
	}

}
@keyframes shake{
	0%{

	}

	20%{
		transform: translateX(5px);
		transform: rotate(5deg);
	}
	40%{
		transform: translateX(-5px);
		transform: rotate(-5deg);
	}
	60%{
		transform: translateX(5px);
		transform: rotate(5deg);
	}
	80%{
		transform: translateX(-5px);
		transform: rotate(-5deg);
	}
	100%{

	}
}
.carousel-img{
	max-height: 18vh;
	&:hover{
		animation: shake linear 0.3s;
	}	
}


.slide{
	opacity: 0;
	animation: animationopacity linear 1s forwards;
	animation-delay: 4.5s;
	padding-top: 15px;
	@media (max-width: 720px){
		padding-top: 5px;
	}
}



.download-button{
	& i{
		position: absolute;
		left: 10px;
		top:50%;
		transform: translateY(-50%);
	}
	& span{
		letter-spacing: 1px;
		position: absolute;
		top:50%;
		left: 70px;
		transform: translateY(-50%);
	}
	padding: 20px 20px;
	overflow: hidden;
	opacity: 0;
	animation: animationopacity linear 1s forwards;
	animation-delay: 2s;
	width: 50px;
	border-radius: 1px;
	background: transparent;
	text-transform: capitalize;
	border: 2px solid $second-color;
	position: relative;
	top:7px;
	left:7px;
	font-weight: bold;
	box-shadow: 0px 1.5px 2px 1px rgba(0,0,0,0.3);
	text-shadow: 1.5px 1.5px 2px rgba(0,0,0,0.3);
	transition: width linear 0.2s;
	@media (max-width: 750px){
		& span{
			left: 55px;
		}
	}
	&:hover{
		background-color: $second-color;
		border-color: $second-color;
		color: white;
		width: 200px;
		@media(max-width: 720px){
			width: 150px;
		}

	}
	&:active{
		background-color: $default-color !important;
		border-color: $default-color !important;
	}
	&:focus{
		box-shadow: 2.5px 2.5px rgba(0,0,0,0.3);
	}
}

.carousel-item-element{
	color:#bdd9de;
	font-weight: bold;
	font-size: 1.3*16px;
	height: 4vh;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	@media (max-width: 750px){
		@media (orientation:landscape){
			display: none;
		}
	}

}

.button-text{
	position: relative;
	top: -6px;
}


