@import '_variables';

.github-logo{
	width: 160px;
	position: relative;
	left: 100%;
	transform: translateX(-100%);
}

%align-color{
	text-align: center;
	color:$text-color;
	word-wrap: break-word;
}

body{
	font-family: 'Roboto', sans-serif;
	background: gray;
	letter-spacing: 0.5px;
}

.background{
	height: 100vh;
	background-image: url('../../images/backgrounds/6.jpg');
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
	padding-right: 0px;
	padding-left: 0px;
}
.painel{
	$painel-color:black;
	width: $painel-width;
	height: $painel-height;
	margin-top: (100-$painel-height)/2;
	margin-bottom: (100-$painel-height)/2;
	margin-left: (100-$painel-width)/2;
	margin-right: (100-$painel-width)/2;
	background-color: rgba($painel-color,0.6);
}
.logo-img{
	max-width: $logo-max-width;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4%;
    @media(max-width: 720px){
    	padding-top: 10%;
    	@media (orientation:landscape){
    		padding-top: 0vh;
    		max-width: $logo-max-width*0.75;
    	}
    }
 
}
.title{
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	@extend %align-color;
	font-weight: bold;
	font-size: 2.5*16px;
	@media (max-width: 720px){
		font-size: 32px;
	}
	@media (orientation:landscape){
		font-size: 2*16px;
	}
}
.description{
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	@extend %align-color;
	font-weight: bold;
	padding-top: 7.5px;
	padding-left: 5vw;
	padding-right: 5vw;
	font-size: 25px;
	@media (max-width: 720px){
		font-size: 18px;
	}


}
.tecnologias{
	font-weight: bold;
	padding-top: 2vh;
	color: rgba(white,0.8);
	text-shadow: 1.5px 1.5px 2px rgba(0,0,0,0.5);
	font-weight: 600;
	font-size: 22px;
	@media (max-width: 720px){
		padding-top: 2vh;
		padding-right: 15vw;
		padding-left: 15vw;
		font-size: 16px;

		@media (orientation:landscape){
			display : none;
			}
	}

}
.carousel-img{
	max-height: 18vh;	
}


.slide{
	padding-top: 15px;
	@media (max-width: 720px){
		padding-top: 5px;
	}
}



.download-button{
	width: 200px;
	border-radius: 1px;
	background: transparent;
	text-transform: capitalize;
	border: 2px solid $default-color;
	position: relative;
	top:7px;
	left:7px;
	font-weight: bold;
	box-shadow: 0px 1.5px 2px 1px rgba(0,0,0,0.3);
	text-shadow: 1.5px 1.5px 2px rgba(0,0,0,0.3);
	@media (max-width: 750px){
		width: 150px;
	}
	&:hover{
		background-color: lighten($default-color, 10%);
		border-color: lighten($default-color,10%);

	}
	&:active{
		background-color: darken($default-color, 5%) !important;
		border-color: darken($default-color,5%) !important;
	}
	&:focus{
		box-shadow: 2.5px 2.5px rgba(0,0,0,0.3);
	}
}

.carousel-item-element{
	color:$text-color;
	font-weight: bold;
	font-size: 1.3*16px;
	height: 4vh;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	@media (max-width: 750px){
		@media (orientation:landscape){
			display: none;
		}
	}

}

.button-text{
	position: relative;
	top: -6px;
}


